*{
margin: 0;
padding: 0;
}
.clear::after{
    content: "";
    display: block;
    clear: both;

}
img{
    max-width: 100%;
}
.textr{
    text-align: right;
}
.textc{
    text-align: center;
}
.textl{
    text-align: left;
}
/* header css */
.fixd-width{
    width: 1270px;
    margin: auto;
}
.left img{
       width: 240px;
       height: auto;
}
.header{
    background-color: #1dd1a1;

}
.left{
    float: left;
    width: 30%;
}
.right{
    float: right;
    width: 70%;
 
}
.right ul{
    list-style: none;
    text-align: right;

}
.right ul li{
    display: inline-block;
    margin-left: -4px;
 
}
.right ul li a{
    text-decoration: none;
    font-size: 25px;
    line-height: 80px;
    color: #ddd;
    display: block;
    padding: 0 40px;
    border-right: 1px solid #fff;

    transition: 0.4s;
}
.right ul li a:hover{
    background-color: #81ecec;
    color: #000;
}
/* bannr */
.baner{
    background: url(image-slider-with-thumbnail2.jpg) no-repeat;
    background-size: cover;
    padding: 200px 0;
}
.caption h2{
    background-color: rgba(0,0,0,.4);
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 35px;
}
.caption h1{
    background-color: rgba(29, 209, 161,.5);
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 35px;
width: 600px;
margin:10px auto;
}
/* about section */
.about h2{
    font-size: 37px;
margin-bottom: 20px;
}
.about p{
    font-size: 24px;
margin-bottom: 30px;
}
/* service section */
.item1{
    width: 33%;
    float: left;
     padding: 10px 0;
    margin-right: 3px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;

}
.item1 span{
        display: block;
        height: 60px;
        width: 60px;
        margin: auto;
        background-color:  rgba(29, 209, 161,.5);
        color: #fff;
        line-height: 60px;
        font-size: 35px;
        border-radius: 20px 5px 20px 5px;
}
/* blog section */
.blog-left-content{
    float: left;
    width: 60%;
    margin-top: 30px;
}
.blogright{
    float: right;
    width: 30%;
}
.blog-item img{
    float: left;
    width: 160px;
    height: auto;
    margin-right: 20px;
}
.blogright h2{
font-size: 40px;
margin-bottom: 15px;
margin-top: 30px;
}
.blogright ul{
    list-style: none;
}
.blogright ul li{
    margin-bottom: 10px;
    border: 1px solid #ddd;
     border-radius: 5px;
     background: #fafafa;
     padding: 15px;
}
/* bottom section */
.bottom{
    background-color: #2c3e50;
}
.bottom-left{
    float: left;
    width: 70%;
    line-height: 60px;
    color: #ddd;
    text-decoration: underline;
    font-size: 20px;
}
.bottom-right{
    float: right;
    width: 25%;
}
.socal-menu{
    list-style: none;
}
.socal-menu li{
    display: inline-block;
    line-height: 60px;
}
.socal-menu li a i{
    font-size: 15px;
    margin-left: 10px;
    border: 1px solid #fafa;
    padding: 10px;
    border-radius: 10px 0 10px 0;
    transition: 0.5s;
    color: #ffffff;
    margin-bottom: 5px;
}
.socal-menu li a i:hover{
    background-color: rgba(0, 216, 11, 0.836);
    border-radius: 50%;
    color: rgb(89, 71, 255);
 transform: rotate(360deg) scale(1.8);
}
 